@import 'src/shared/colors';

.tabs {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.tabs li a {
  color: rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}


.tabs li a:hover {
  color: $primary;
  opacity: 8;
  transition: 0.5s;
}

.tabs .selected {
  color: $primary !important;
  font-weight: bold;
  text-transform: uppercase;
}
